:root {
  --rosewood: #5d0003ff;
  --android-green: #accf0dff;
  --satin-sheen-gold: #cc9a27ff;
  --rufous: #ac280dff;
  --barn-red: #7d1604ff;
}
body {
  font-family: 'Poppins', sans-serif;
}
.home-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  flex-direction: column;
}
.grid-box {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  padding: 2vw;
}
.side-bar {
  flex: 1 1 100px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.char-tracker {
  flex: 1 1 450px;
  border: 3px solid var(--rosewood);
  background-color: var(--android-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.timer-box {
  flex: 1 1 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.button-box {
  flex: 1 1 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lvl-btn {
  flex: 1;
  height: 100%;
}
.lvl-btn:nth-of-type(1) {
  background: var(--android-green);
}
.lvl-btn:nth-of-type(2) {
  margin: 0 5px;
  background-color: var(--satin-sheen-gold);
}
.lvl-btn:nth-of-type(3) {
  background-color: var(--rufous);
}
#frame {
  width: 1000px;
  height: 600px;
  border: 3px solid var(--rosewood);
  overflow: scroll;
  position: relative;
  margin-right: 10px;
}
#grid {
  display: flex;
  width: 1856px;
  height: 1200px;
}
#game-img {
  position: absolute;
  filter: blur(3px);
  height: 1200px;
  top: 0;
  left: 0;
  z-index: -1;
}
.column {
  flex: 1 1 12px;
  display: flex;
  flex-direction: column;
}
.grid-square {
  flex: 1 1 12px
}
.checkmark {
  color: var(--rufous);
  background: white;
  font-size: 2rem;
  box-shadow: 0 0 10px 10px white;
  border-radius: 50%;
  position: absolute;
  display: none;
}
.avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.avatar-x {
  position: absolute;
  font-size: 100px;
  display: none;
}
.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid black;
}
#high-scores-box {
  position: fixed;
  left: 50%;
  background: var(--satin-sheen-gold);
  padding: 50px;
  flex-direction: column;
  border-radius: 5px;
  border: 3px solid black;
  margin-left: -217px;
}
#scores-container {
  display: none;
  /* js will set display to flex */
  flex-direction: column;
  width: 600px;
}
#scores-container > div:first-of-type {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.score-labels {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.score-labels > div {
  flex: 1 1 100px;
  text-align: center;
  margin: 0 10px;
}
.score-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.score {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  width: 100%;
}
.score > div {
  flex: 1 1 100px;
  text-align: center;
  margin: 0 10px;
}
#rankings {
  display: none;
  border-top: 1px solid black;
}
#rankings > div {
  flex: 1 1 100px;
  text-align: center;
  margin: 0 10px;
  padding-top: 10px;
}
#start-screen {
  height: 1200px;
  width: 1856px;
  position: absolute;
  top: 0;
  left: 0;
}
.start-btn {
  padding: 15px;
  border-radius: 3px;
  border: 2px solid black;
  color: black;
  background: var(--android-green);
  position: fixed;
  top: 300px;
  left: 500px;
  font-size: 1.5rem;
}
#form {
  display: 'none';
  flex-direction: column;
}
.congrats {
  font-size: 2rem;
  text-align: center;
}
.congrats + div {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
#form input {
  border-radius: 3px;
}
#form label:last-of-type {
  margin-top: 10px;
}
.score-btn {
  background-color: var(--android-green);
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 3px;
}
#next-level {
  background-color: var(--rufous);
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 3px;
}
.score-btn-box {
  display: flex;
  justify-content: center;
}
.error {
  color: var(--barn-red)
}
